.body{
  font-family: 'Montserrat', sans-serif;
}

/*content section*/
#content{
  background-color: #ddf3f5;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  padding: 5% 15% ;
  background-size: cover;
  min-height:686px;
}
/*footer section*/
#footer{
  padding:3rem;
  background-color: #ECEFF1;
  text-align: center;
}

.card {
  margin-bottom: 15px;
  min-height: 300px;
  max-height: 300px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 50%;
}
.btn-success{
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}










