  <section id="header">
    <app-header></app-header>
  </section>
<!-- The component to create the case -->
  <section id="content">
    <div *ngIf="errors" class="alert alert-danger">
      {{ errors }}
    </div>
    <div class="container-fluid">
      <form>
        <div class="row form-group">

          <div class="col"><b>Case Name: </b></div>
          <div class="col form-group input-group">
            <input #name class="form-control" placeholder="Case1" type="text">
          </div>
          <div class="col"><b>Case Managers' emails: </b></div>
          <div class="col form-group input-group">
            <input #manager  class="form-control" placeholder="email@email.com,email2@email.com" type="email">
          </div>
          <div class="col"><b>Conflict Of Interests: </b></div>

          <div class="col form-group input-group">
            <input #COI class="form-control" placeholder="Case1,Case2,Case4" type="text">
          </div>
        </div>

      </form>
    </div>

    <div class="container">
<!--a button to create a case-->
      <div class="row form-group">
        <div class="col">
          <button (click)="createCase()" button type="button" class="btn btn-warning">Create Case</button>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <p>© Copyright 2020--CSEE 5590: Web and Mobile Programming</p>
  </footer>
