
  <div class="displayTable">

    <div class="displayTableCell">

      <div class="authBlock">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <h3 style="color:white;">Reset Password</h3>
        </nav>

        <div id="content">

          <div class="formGroup">
            <p class="text-center">Please enter your email address to request a password reset.</p>
          </div>

          <div class="formGroup text-center">
            <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
          </div>

          <div class="formGroup text-center">
            <input type="submit" class="btn btn-info" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          </div>

          <div class="redirectToLogin text-center">
            <span>Go back to ? <span class="redirect" routerLink="/sign-in"><a href="/sign-in">Log In</a></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <p>© Copyright 2020--CSEE 5590: Web and Mobile Programming</p>
  </footer>
