.body{
  font-family: 'Montserrat', sans-serif;
}

/*content section*/
#content{
  background-color: #ddf3f5;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  padding: 5% 15% ;
  background-size: cover;
  min-height: 1100px;

}

#content2{
  background-color: #ECEFF1;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  padding: 5% 15% ;
  background-size: cover;

}
/*footer section*/
#footer{
  padding:3rem;
  background-color: #ECEFF1;
  text-align: center;
}








