<!--header section-->


  <div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <h3 style="color:white;">Sign In</h3>
        </nav>

        <section id="content">

          <div class="formGroup text-center">
            <input type="text" class="formControl" placeholder="Username" #userName required>
          </div>

          <div class="formGroup text-center">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>


          <!-- Calling SignIn Api from AuthService -->

          <div class="formGroup text-center">
            <input type="button" class="btn btn-info" value="Log in"
                   (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>

          <div class="formGroup text-center">
            <span class="or"><span class="orInner">Or</span></span>
          </div>

          <div class="formGroup text-center">
            <span>Sign in with  </span>

            <button type="button" class="btn googleBtn text-center" id="customBtn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              <span class="Icon"><img id="'google" src="/assets/google.jpg" width="42px" height="42px"></span>
              <span class="buttonText">Google</span>

            </button>
          </div>

          <div class="forgotPassword text-center">
            <span routerLink="/forgot-password"><a href="/forgot-password">Forgot Password?</a></span>
          </div>

          <div class="redirectToLogin text-center">
            <span>Don't have an account? <span class="redirect" routerLink="/register-user"><a href="/register-user">Sign Up</a></span></span>
          </div>
        </section>


      </div>

    </div>

  </div>
  <footer id="footer">
    <p>© Copyright 2020--CSEE 5590: Web and Mobile Programming</p>
  </footer>
