<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="align-self-start mr-5 img-thumbnail rounded-circle" style = "height:50px; width:50px;" src="{{(authService.userData.photoURL)}}"
       alt="{{authService.userData.displayName}}">
  <!--Header component with mobile friendly navbar(collapses when the screen is minimized)-->
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Three links using the router link-->
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/app-caselist">Cases</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="/" >Log Out</a></li>
    </ul>
  </div>
</nav>


